/* App.css 파일 내부 */
.App {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

/* 내용 스타일 */
p {
  margin: 10px 0;
  color: #555;
  line-height: 1.4;
}


.blackNav {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 24px;
}

.grayHeader {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InputText {
  display: flex;
  align-items: center;
}

.titleInputClass,
.CommentInputClass {
  margin-right: 20px;
}

.WorkingLineClass {
  font-size: 40px;
  margin: 20px 0;
  font-weight: bold;
}


.CreateComment {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  margin: 10px 0;
}

.ContainerInnerBtn {
  display: flex;
  align-items: center;
}

button {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.deleteButton {
  background-color: #dc3545;
}

.completeButton {
  background-color: #28a745;
}

.cancelButton {
  background-color: #17a2b8;
}


